<h1>Eventos</h1>

<form action="" class="row row-cols-lg-auto g-3 align-items-center mb-2">
 
  <div class="col-12">
    <input type="text" class="form-control mr-2" placeholder="buscar">
  </div>
  <div class="col-12">
    <button class="btn btn-outline-success">Buscar</button>
  </div>
</form>
<table class="table table-striped">
  <thead class="table-dark">
    <tr>
      <th>
        <button (click)="switchImageState()" class="btn btn-outline-light btn-sm">{{ !showImage ? "Mostrar" : "Ocultar" }}</button>
      </th>
      <th>#</th>
      <th>Tema</th>
      <th>Local</th>
      <th>Data</th>
      <th>Qtd Pessoas</th>
      <th>Lote</th>
      <th>Opções</th>
    </tr>
  </thead>
  <tbody *ngIf="eventos && eventos.length">
    <tr *ngFor="let evento of eventos">
      <td [collapse]="!showImage"
          [isAnimated]="true">
        <img src="/assets/{{ evento.imagemUrl }}"
        [style.width.px]="widthImg"
        [style.margin.px]="marginImg" />
      </td>
      <td>{{ evento.eventoId }}</td>
      <td>{{ evento.tema }}</td>
      <td>{{ evento.local }}</td>
      <td>{{ evento.dataEvento }}</td>
      <td>{{ evento.qtdPessoas }}</td>
      <td>{{ evento.lote }}</td>
      <td>{{ evento.opcoes }}</td>
    </tr>
  </tbody>
  <tfoot *ngIf="!eventos.length">
    <tr>
      <td colspan="8" class="text-center">
        <span>
          <h4>Nenhum evento encontrado !</h4>
        </span>
      </td>
    </tr>
  </tfoot>
</table>
