<h1>Eventos</h1>
<hr/>

<div class="form-inline">
  <div class="col-12">
    <label class="mr-2"><h3>Filtro: </h3></label>
    <input
      type="text"
      class="form-control mr-2"
      placeholder="buscar"
      [(ngModel)]="filtroLista"
    />
  </div>
</div>
<table class="table table-striped mt-3">
  <thead class="table-dark">
    <tr>
      <th>
        <button (click)="switchImageState()" class="btn btn-outline-light btn-sm">{{ !showImage ? "Mostrar" : "Ocultar" }}</button>
      </th>
      <th>#</th>
      <th>Tema</th>
      <th>Local</th>
      <th>Data</th>
      <th>Qtd Pessoas</th>
      <th>Lote</th>
      <th>Opções</th>
    </tr>
  </thead>
  <tbody *ngIf="eventos && eventos.length">
    <tr *ngFor="let evento of eventosFiltrados">
      <td [collapse]="!showImage">
        <img src="/assets/{{ evento.imagemUrl }}"
        [style.width.px]="widthImg"
        [style.margin.px]="marginImg" />
      </td>
      <td>{{ evento.id }}</td>
      <td>{{ evento.tema }}</td>
      <td>{{ evento.local }}</td>
      <td>{{ evento.dataEvento }}</td>
      <td>{{ evento.qtdPessoas }}</td>
      <td>{{ evento.lotes }}</td>
      <td>
        <button class="btn btn-primary btn-sm">Editar</button><br />
        <button class="btn btn-danger btn-sm mt-2">Excluir</button>
      </td>
    </tr>
  </tbody>
  <tfoot *ngIf="!eventos.length">
    <tr>
      <td colspan="8" class="text-center">
        <span>
          <h4>Nenhum evento encontrado !</h4>
        </span>
      </td>
    </tr>
  </tfoot>
</table>
