<app-titulo
  [titulo]="'Eventos'"
  [iconClass]="'fa fa-calendar-alt'"
  [botaoListar]="true"></app-titulo>

<div class="card rounded shadow-sm p-3">
  <div class="d-flex">
    <div class="flex-fill pr-3">
      <div class="col-12 input-group">
        <div class="input-group-prepend">
          <div class="input-group-text py-2">Filtro: </div>
        </div>
        <input
          type="text"
          class="form-control py-2"
          placeholder="Filtrar por tema e local"
          [(ngModel)]="filtroLista"
        />
      </div>
    </div>

    <div>
      <a class="d-flex justify-content-between btn btn-outline-primary" href="#">
        <i class="fa fa-plus-circle mt-1 mr-1"></i>
        <b class="mb-1 d-none d-sm-block">Novo</b>
      </a>
    </div>
  </div>
  <table class="table table-striped mt-3">
    <thead class="table-dark">
      <tr>
        <th>
          <button (click)="switchImageState()" class="btn btn-outline-light btn-sm">
            <i class="{{ !showImage ? 'fa fa-eye' : 'fa fa-eye-slash' }}"></i>
            {{ !showImage ? "Exibir" : "Ocultar" }}
          </button>
        </th>
        <th>#</th>
        <th>Tema</th>
        <th>Local</th>
        <th>Data</th>
        <th>Qtd Pessoas</th>
        <th>Lote</th>
        <th>Opções</th>
      </tr>
    </thead>
    <tbody *ngIf="eventos && eventos.length">
      <tr *ngFor="let evento of eventosFiltrados">
        <td class="text-center pt-4 pb-5" style="height: 100%;" [collapse]="!showImage">
          <img src="/assets/{{ evento.imagemUrl }}"
          [style.width.px]="widthImg"
          [style.margin.px]="marginImg" />
        </td>
        <td class="justify-content-center py-5">{{ evento.id }}</td>
        <td class="justify-content-center py-5">{{ evento.tema }}</td>
        <td class="justify-content-center py-5">{{ evento.local }}</td>
        <td class="justify-content-center py-5">{{ evento.dataEvento | DateTimeFormatPipe }}</td>
        <td class="justify-content-center py-5">{{ evento.qtdPessoas }}</td>
        <td class="justify-content-center py-5">{{ evento.lotes[0].nome | uppercase }}</td>
        <td class="py-5">
            <button class="btn btn-primary btn-sm">
              <i class="fa fa-edit"></i>
            </button>
            <button class="btn btn-danger btn-sm" (click)="openModal(template)">
              <i class="fa fa-trash"></i>
            </button>
        </td>
      </tr>
    </tbody>
    <tfoot *ngIf="!eventos.length">
      <tr>
        <td colspan="8" class="text-center">
          <span>
            <h4>Nenhum evento encontrado !</h4>
          </span>
        </td>
      </tr>
    </tfoot>
  </table>
</div>

<ng-template #template>
  <div class="modal-body text-center">
    <p>Tem certeza que quer deletar o evento ?</p>
    <button type="button" class="btn btn-default" (click)="confirm()" >Sim</button>
    <button type="button" class="btn btn-primary" (click)="decline()" >Não</button>
  </div>
</ng-template>
